<div class="navbar-fixed">
  <nav class="blue navbar">
    <div class="row nav-wrapper">
      <a href="{{ '/' | relative_url }}" class="brand-logo">{{ site.title | escape }}</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse menu-btn"><i class="fa fa-bars"></i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% for page in site.pages %} {% if site.nav contains page.path %}
        <li><a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a></li>
        {% endif %} {% endfor %}
      </ul>
      <ul class="side-nav" id="mobile-demo">
        {% for page in site.pages %} {% if site.nav contains page.path %}
        <li><a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a></li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </nav>
</div>
