<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {% if page.title %} {{ site.title }} | {{ page.title }} {% else %} {{ site.title }} {% endif %}
  </title>

  <!-- SEO TAGS -->
  <meta name="description" content="NIT-dgpOS is an Open Source Community started by some GSoC 2016 students of NIT Durgapur to spread the idea of Open Source among students and help them contribute to Open Source.">
  <meta property="og:title" content="{% if page.title %} {{ site.title }} | {{ page.title }} {% else %} {{ site.title }} {% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="NIT-dgpOS is an Open Source Community started by some GSoC 2016 students of NIT Durgapur to spread the idea of Open Source among students and help them contribute to Open Source." />

  {% include assets.html %}
  <link rel="stylesheet" href={{ "/css/styles.css" | relative_url }} />
</head>

<body>
  {% include header.html %}
  <main>
    <div class="welcome">
      <div class="center-align">
        <h1 class="title">NIT DGP Open Source</h1>
        <h2 class="description">{{site.description}}</h2>
      </div>
    </div>
    <div class="page-content center-align container">
      <div class="main col s12 l10">{{ content }}</div>
    </div>
  </main>
  {% include footer.html %}
</body>

</html>
